/* WEB FONT */
@import url(https://fonts.googleapis.com/css?family=Signika:600|Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* icon */
.ico_skin{display:block;overflow:hidden;font-size:0;line-height:0;background:url(images/ico_skin.png) 0 0 no-repeat;text-indent:-9999px}


/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;  
	font-size: 100%;
  font: inherit;
}
/* BASIC */
body {
	font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
  background-color: #ffffff;
  color: #2e2e2e;
}
h1, h2 {
  font-family: 'Signika', 'Nanum Gothic', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 36px;
  line-height: 46px;
}
h2 {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: -20px;
}
p {
  margin: 10px 0;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* LAYOUT */
.fixed-nav-bar {
	border-bottom: 1px solid #dcdcdc;
	font-size: 15px;
}

.content {
  position: relative;
  background: #ffffff no-repeat center center fixed;
  background-size: cover;
 }
.description, .some-related-articles {
  width: 90%;
  max-width: 960px;
  margin: auto;
}
.description {
  padding-top: 100px;
	padding-bottom: 50px;
  min-height: 250px;
  text-align: center;
}
.some-related-articles {
  color: #747474;
}
.some-related-articles h1 {
  color: #384e56;
  margin-top: 60px;
  text-transform: uppercase;
}
.some-related-articles h2 a:link, .some-related-articles h2 a:visited  {
  color: #464646;
  transition: color 0.1s ease;
}
.some-related-articles h2 a:hover {
  color: #000000;
  transition: color 0.3s ease;
}
/* SPECIAL */
.summary {
  margin-top: 10px;
  margin-bottom: 10px;
}
.button, .button:visited, .button-dark {
  display: inline-block;
  max-width: 200px;
  margin: 50px 10px 30px 10px;
  padding: 10px;
  font-family: "Signika", 'Nanum Gothic',sans-serif;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  text-transform: capitalize;
  text-align: center;
  transition: all 0.1s ease;
}
.button-dark, .button-dark:visited {
  margin: 20px 10px 30px 0;
  color: #464646;
  border-color: #464646;
  font-family: "Signika", 'Nanum Gothic', sans-serif;
}
.button:hover, .button-dark:hover {
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.button-dark:hover {
  color: #ffffff;
  background-color: rgba(70, 70, 70, 0.9);
}

.article {
		padding-left: 20%;
		padding-right: 20%;
		font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
		font-size: 17px;
		line-height: 180%;
		text-align: center;
	}
.article .article-title {
	width: 100%;
	text-align: center;
	margin-top:40px;
	margin-bottom: 20px;
}
.article .article-title .article-title {
	color: #000000;
	font: 30px 'Signika', 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

.article-perma{
		padding-left: 20%;
		padding-right: 20%;
		padding-bottom: 50px;
		font-family: 'Noto Sans', 'Nanum Gothic', sans-serif;
		font-size: 17px;
		line-height: 180%;
		text-align: center;
	}
.article-perma .article-title {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.article-perma .article-title .article-title {
	color: #000000;
	font: 30px 'Signika', 'Nanum Gothic', sans-serif;
	font-weight: bold;
}
.article-perma .article-desc {
		width: 100%;
}

/* paging */
.area_paging {height:30px;margin-top:26px;text-align:center;margin-bottom:30px}
.area_paging .inner_paging{display:inline-block;overflow:hidden}
.area_paging .ico_skin{width:6px;height:10px}
.area_paging .btn_prev{float:left;margin-right:18px;line-height:30px;color:#5c5c5c}
.area_paging .btn_prev.no-more-prev {color:#a7a7a7; text-decoration: none}
.area_paging .no-more-prev .ico_prev{background-position:-150px -10px}
.area_paging .ico_prev{display:inline-block;margin-right:8px;background-position:-140px -10px}
.area_paging .btn_next{float:left;margin-left:18px;line-height:30px;color:#5c5c5c}
.area_paging .btn_next.no-more-next {color:#a7a7a7; text-decoration: none}
.area_paging .no-more-next .ico_next{background-position:-150px 0}
.area_paging .ico_next{display:inline-block;margin-left:8px;background-position:-140px 0}
.area_paging .link_page span,
.area_paging .interword {float:left;min-width:10px;height:30px;margin:0 4px;padding:0 10px;line-height:30px;color:#5c5c5c}
.area_paging .link_page .selected {border-radius:30px;background-color:#6bacce;color:#fff}



/* fixed menu bar */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 45px;
  background-color: #ffffff;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
  margin-top: 20px;
}

/* footer */
.footer {
	margin-top:10px;
	height:50px;
	color:#a4a4a4;
	text-align:center;
	font-size:12px;
}


/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 42px;
  line-height: 40px;
}
.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
	margin-top: 2px;
}
.menu a, .menu a:visited {
  color: #000000;
}
.menu a:hover, .menu a:target {
  color: #989898;
}
.menu-items {
  display: inline-block;
}
.sitename {
  display: inline-block;
  margin-right: 30px;
  margin-left: 10px;	
}
a.sitename, a:visited.sitename {
  color: #000000;
}
.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
.show, .hide {
  display: none;
  padding-left: 15px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
}


@media only screen and (max-width: 800px) {
	.ico_skin {background:url(images/m320_ico_skin.png) 0 0 no-repeat}

	.fixed-nav-bar{
		height: 44px;
		opacity: 0.97;
	}
  .menu { 
    position: relative;
    width: 100%;
  }
  .sitename {
    position: absolute;
    top: 1px;
    left: 15px;
    margin-left: 0px;
  }
  .menu-items {
    display: none; 
    width: 100%;
    margin-top: 40px;
    background-color: #ffffff;
		border-bottom: 1px solid #dcdcdc;
  }
  .menu-items li {
    display: block;
    text-align: center;
  }
  .show, .hide {  
    position: absolute;
    top: 0px;
    right: 15px;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
.bar {
    background-color: #000000;
    display: block;
    width: 20px;
    height: 1px;
    border-radius: 100px;
    position: absolute;
    top: 25px;
    right: 2px;
}
.bar:first-child {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
	.bar:nth-child(2) {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
	.article {
		padding-left: 7%;
		padding-right: 7%;
	}
	.article-perma {
		padding-left: 7%;
		padding-right: 7%;
		padding-bottom: 30px;
	}
	
	/* paging */
	.area_paging {height:18px;padding:30px 15px;}
	.area_paging .inner_paging {display:block;height:18px}
	.area_paging .link_page,
    .area_paging .interword {display:none}
	.area_paging .ico_skin {width:10px;height:18px}
	.area_paging .btn_prev {font-size:15px;line-height:19px;color:#5c5c5c}
	.area_paging .ico_prev {float:left;margin-right:8px;background-position:-90px 0}
	.area_paging .no-more-prev .ico_prev {background-position:-70px 0}
	.area_paging .btn_next {float:right;margin-right:0;font-size:15px;vertical-align:top;line-height:19px;color:#5c5c5c}
	.area_paging .ico_next {float:right;margin-left:10px;background-position:-100px 0}
	.area_paging .no-more-next .ico_next {background-position:-80px 0}
	
/* youtube embed */
.tt-youtube-plugin {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height:0px;
	overflow: hidden;
}
.tt-youtube-plugin iframe,
.tt-youtube-plugin object,
.tt-youtube-plugin embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
	
}

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}

/* Tistory */
.daum_like_wrapper {display:none;}
#tistorytoolbarid {display:none;}
.entry-ccl {display:none;}